.video-wrapper{
  background: url('./bg.jpg');
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.video-player__source {
  width: 600px;
  height: 300px;
}


